.add-cell {
  position: relative;
  opacity: 0;
  transition: all 0.3s;
}
.add-cell:hover {
  opacity: 1;
}
.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border-bottom: 1px solid #37414b;
  width: 90%;
  right: 5%;
  left: 5%;
  z-index: -1;
}

.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}
.add-cell .add-buttons button {
  margin: 0 20px;
}

.add-cell.force-visible {
  opacity: 1;
}
